footer {
    background-color: #353b48;
}

/* Footer menu */
footer .footer-items .footer-menu{
    text-align: center;
    padding: 18px 0px;
}
.footer-items .footer-menu li{
    display: inline-block;
    margin-inline: 6px;
    opacity: 0.5;
    transition: transform .3s;
}

/* Footer Logo */
.footer-items .footer-logo{
    padding:8px 0px;
    text-align: center;
    width: 100%;
}

.footer-items .footer-logo-ik {
    align-items: center;
    column-gap: 0.25rem;
    display: inline-flex;
}

.footer-items .footer-logo a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    vertical-align: top;
}

.footer-items .footer-logo a svg {
    fill: #f5f6fa;
}


.footer-items li a{
    color: white;
    letter-spacing: 1.5px;
    text-decoration: none;
}


.footer-items .footer-socmed{
    text-align: center;
    padding: 4px 0; 
}

.footer-items .footer-socmed li {
    margin-inline: 18px;
    display: inline-block;
}

.footer-socmed btn {
    cursor: pointer;
}

.copyright{
    text-align: center;
    padding: 2px 0;
}

.copyright p {
    color: white;
}

.footer-items .footer-menu li:hover{
    opacity: 1;
    transform: scale(1.2);
    transform: translateY(-2px);
}


@media (max-width: 640px) {
    .footer-menu ul li {
        width: 50%;
        margin: 12px 0;
    }
    .footer-socmed ul li {
        width: 25%;
        margin: 12px auto;
    }
    .footer-socmed::after {
        content:"";
        display:block;
        clear:both;
    }
    .copyright {
        display: inline-block;
        width: 100%;
    }
}
